*{
    padding: 0;
    margin: 0;
    border: border-box;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #0f1111;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo{
    height: 50px;
    width: 120px;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box1 */
.logo{
    background-image: url(image_az.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/* box2 */
.add-first{
    font-family: Arial, sans-serif;
    font-size: 0.85rem;
    margin-left: 20px;
}

.add-sec{
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 3px;
}

.search-select{
    color: #0f1111;
    background-color: #e8e7e7;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    width: 50px;
    text-align: center;
}

/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 620px;
    height: 40px;
    padding-right: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* search-icon setting */
#b{
    color: #0f1111;
    padding-left: 18px;
}

.search-icon{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 10px;
}
/* box4 */
.add-flag{
    display: flex;
    font-family: Arial, sans-serif;
}

#b1{
    background-color: #0f1111;
    border: none;
}

#b1 i{
    color: #cccccc;
    font-size: 10px;
}

/* box5 */
#b2{
    background-color: #0f1111;
    border: none;
}

#b2 i{
    color: #cccccc;
    font-size: 10px;
}

.h1{
    font-size: 0.85rem;
    font-weight: lighter;
}

.nav-second{
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.nav-cart i{
    font-size: 25px;
}

.nav-cart{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-menu{
    background-color: #242828;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel i{
    margin: 3px -2px 3px 3px;
    
}

span{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.space{
    margin: 5px 0 0 6px;
    padding: 8px 5px;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1px solid white;
}


.deals{
    padding: 5px 5px;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* hero section */
.hero-section{
    background-image: url('hero_image.jpg');
    height: 400px;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70% , rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .hero-section{
        height: 300px;
    }
}

.hero-msg{
    width: 95%;
    margin-top: 20px;
    opacity: 0.9;
    margin-bottom: 70px;
}

.hero-msg p{
    background-color: white;
    color: black;
    height: 40px;;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.hero-msg a{
    text-decoration: none;
    color: #007185;
    font-weight: bold;
    margin-left: 5px;
}

/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #e3e6e6;
}

.shopbox{
    height: auto;
    width: 25%;
    max-width: 285px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.shopbox h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #0f1111;
    margin-bottom: 10px;
}

/* creating the 2x2 grid */
.box-content-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    margin-bottom: 15px;
}

.grid-item{
    cursor: pointer;
}

.item-img{
    height: 100px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}

.grid-item p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0f1111;
    line-height: 1.4;
}

.shopbox a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #007185;
    font-weight: 13px;
}

/* sign-in section */
.signin-section{
    background-color: white;
    width: 100%;
    padding: 40px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.signin-content h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
    color: #0f1111;
}

.signin-content button{
    background-color: #ffd814;
    border: 1px solid #fcd200;
    border-radius: 15px;
    width: 200px;
    padding: 7px 0;
    font-size: 14px;;
    color: #0f1111;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
    margin-top: 5px;
}

.signin-content button:hover{
    background-color: #f7ca00;
}

.signin-content span{
    font-size: 12px;
    font-weight: lighter;
    display: block;
    color: #0f1111;
    margin-top: 5px;
}

.signin-content a{
    color: #007185;
    font-size: 12px;
}

/* footer section */
footer{
    margin-top: 15px;
}

.footer-panel1{
    background-color: #37475a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-panel1:hover{
    background-color: #485765;
}

.footer-panel2{
    background-color: #232f3e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

ul p{
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
}

ul a{
    display: block;
    font-size: 14px;
    color: #dddddd;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

ul a:hover{
    text-decoration: underline;
}

.footer-panel3{
    background-color: #232f3e;
    border-top: 0.5px solid #555;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-panel3 .logo{
    background-image: url('Amazon_CS.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 110px;
    width: 180px;
    align-items: center;
    mix-blend-mode: lighten;
}

.pages{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.select-button{
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: transparent;
}

.select-button:hover{
    border-color: white;
}

.select-button span{
    font-weight: lighter;
    color: #dddddd;
    font-size: 13px;
}

.footer-panel4{
    background-color: #131a22;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.legal-links{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #dddddd;
    margin-right: 15px;
    font-size: 12px;
}

.legal-links:hover{
    text-decoration: underline;
}

.copyright{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: #dddddd;
}
